@use 'config' as *;

@include component('social-media') {
    .items {
        display: grid;
        grid-auto-flow: column;
        justify-content: left;
        align-items: center;
        gap: fluid(10, 16);

        .item {
            width: fluid(38, 50);
            height: fluid(38, 50);
            background-color: $accent;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.25s ease-in all;

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: fluid(18, 30);
                height: fluid(18, 30);

                svg {
                    color: $primary;
                    transition: 0.25s ease-in all;
                }
            }

            &:hover {
                background-color: $primary;

                .icon {
                    svg {
                        color: $white;
                    }
                }
            }
        }
    }
}